doctype html
html
    head
        title Jade Page
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
    body
        h1 Welcome 
        p ...